body{
    background-color: rgb(199, 201, 201);
}
div{
    /*background-color: rgb(165, 164, 164);*/
}
h1{
    text-align: center;
}
.down{
    background-color: rgb(165, 164, 164);
     
}
div:nth-child(2){
}
.stolb{
    display: inline-block;
    list-style: none;
    /*border: 1px solid red;*/
    vertical-align: middle;
    width: 24%;
    margin: 3%;
    height: 45rem;
    padding-left: 0.5rem;
    background-color: rgb(165, 164, 164);
}
div.down>p {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
    width: 18%;
    margin: 1%;
    height: 10rem;
    padding: 2%;
}
}
